h1 {
  font-size: 1.5em;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  text-align: left;
  color: #000000;
  padding-top: 20px;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

ul li a {
  color: darkblue;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

#button {
  
  width: 24px;
  margin: 10px auto;
  padding: 7px 13px;
  text-align: center;
  background: #ffffff;
  border: solid #000000 1px;
  display: block;
  
}

#button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}

.button:hover {
  background-color: grey;
  color: white;
}

.message-container {
  border: 1px solid black;
  padding: 20px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
  position: center;
}


.column {
  float: left;
  padding: 10px;
}

.message {
  width: 25%;
  float: left;
  padding: 20px;
  border: 3px solid black;
  height: 1200px;
  overflow: scroll
}

.livepicture {
  margin: auto;
  width: 65%;
}

.favorite {
  margin: auto;
  float: center;
}

.favorite-image {
  padding: 6px 6px;
}


/* Clear floats after the columns */
.overview:after {
  content: "";
  display: table;
  clear: both;
}

.order li {
  list-style: none;
}
.order li:after {
  content: "\A";
  white-space: pre;
}